/* Jumbotron */
#jumbotron {
    height: 100vh;
    background: #90ADC6;
}

.scroll {
    position: absolute;
    bottom: 0;
}

a:hover {
    text-decoration: none;
}
#resume {
    color: #E9EAEC;
    text-decoration: none;
}
#resume:hover {
    color: #FAD02C;
}
body {
    font-family: 'Alata', sans-serif;
}

h1 {
    color: #333652;
    font-weight: bold;
    font-size: 60px;
    padding: 10px;
    border-bottom: 5px solid #FAD02C;
    font-family: 'Alata', sans-serif;

}

.intro {
    font-size: 36px;
    font-weight: bold;
    color: #E9EAEC;
}

/* Navbar */

.navbar-toggler{
    border-color: #FAD02C;
}
.mynav {
    background: #333652;
    border-bottom: 1px solid #FAD02C;
}

.navbar {
    padding: 10px;
}

.navbar-brand {
    color: #E9EAEC;
}

.navbar-brand:hover {
    color: white;
}

.mynavlink {
    display: inline-block;
    color: #E9EAEC !important;
}

.mynavlink:hover {
    background: #90ADC6;
    border-bottom: 10px solid #FAD02C;
    color: white;
}

/* Section Header */
h2 {
    font-size: 36px;
    font-weight: bold;
    color: #E9EAEC;
    border-bottom: 2px solid #FAD02C;
    display: inline;
}

/* About Section */
#about {
    height: 100vh;
    background: #333652;
    color: #E9EAEC;
    font-size: 24px;
}

/* Portfolio Section */
#portfolio {
    height: 150vh;
    background: #90ADC6;
}

.imageHeader {
    color: #333652;
    font-size: 36px;
    font-weight: bold;
}

.portfolioImage {
    border: 2px solid #FAD02C;
}

/* Contact Section */
    #contact {
        height: 100vh;
        background: #333652;
        font-size: 24px;
        color: #E9EAEC;
    }

    .contactImage {
        width: 64px;
        height: 64px;
    }

    .contactInfo {
        margin: 0vh;
    }


/* Modals */
.modal-content {
    border: 1px solid #E9EAEC;
}
.modal-header {
    background: #333652;
    color: #90ADC6;
    border-bottom: 1px solid #FAD02C;
}

.modal-body {
    background: #90ADC6;
    color: #E9EAEC;
    border-bottom: 1px solid #FAD02C;
    font-size: 24px;
}

.modal-footer {
    background: #333652;
}

.close {
    color: #90ADC6;
}

.close:hover {
    color: #FAD02C;
}

/* Buttons */
.btn {
    background: #333652;
    border: 1px solid #FAD02C;
    color: #E9EAEC;
}

.btn:hover {
    background: #FAD02C;
    border: 1px solid #333652;
    color: #333652;
}


/* Footer */
.footer {
    background: #333652;
    border-top: 1px solid #FAD02C;
    color: #90ADC6;
    font-size: 16px;
}
img:hover {
    cursor: pointer;
}

hr {
    background: #FAD02C;
}